KINDE_POST_LOGOUT_REDIRECT_URL=
KINDE_SITE_URL=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

DATABASE_URL=

UPLOADTHING_APP_ID=
UPLOADTHING_SECRET=

KINDE_POST_LOGIN_REDIRECT_URL=
KINDE_ISSUER_URL=
KINDE_CLIENT_SECRET=
KINDE_CLIENT_ID=
ADMIN_USER_DASHBOARD=
